$background:#ffffff;
$padding:32px;

.card{
  position: relative;
  display:block;
  background:$background;
  border-radius:$radius;
  &:not(:last-child){
    margin-bottom:30px;
  }
  &.hero__cta{
    background: url(https://images.unsplash.com/photo-1550895030-823330fc2551?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80);
    background-size: cover;
    background-position: center center;
  }
  &.has-p-top{
    padding-top:250px;
  }

  &.is-large{
    margin:-0.85rem;
  }

  &.card__cv{
    margin:$block-spacing-xs;
    background:transparent;
  }
  .overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba($color: #fafafa, $alpha: 0.8);
    z-index:999;
  }

  .card-content{
    padding:$padding;
    box-sizing: border-box;
    position: relative;
    z-index:1;
    &.has-min-height--25vh{
      min-height:25vh;
    }
    &.cv-right{
      padding:0 $block-spacing-2xl;
    }
  }
}

.card__cv{
  position: relative;
  display:block;
  background:$background;
  border-radius:$radius;
  margin:$block-spacing-xs;
  background:transparent;
  &.is-grey{
    background-color: $grey-cv;
  }
  &.cv-right{
    padding:0 $block-spacing-2xl;
  }
  .card-content{
    padding:$padding;
    box-sizing: border-box;
    position: relative;
  }
}
    