.table{
    background:$white-ter;
  }
  
  .table thead{
    background:$grey-lightest;
  }
  
  .table th{
    padding:16px;
  }
  
  .table thead th{
    border-bottom:1px solid $grey-light;
  }
  
  .table tbody tr th{
    border-bottom:1px solid $grey-light;
  }
  
  .table tbody tr td{
    border-bottom:1px solid $grey-light;
  }
  
  .table th > i{
    float:right;
  }
  
  .table td{
    padding:24px;
  }