<footer class="footer">
    <div class="container">
      <ul class="social-list">
        <li>
          <span class="icon icon__linkedin">
            <i class="fab fa-linkedin-in"></i>
          </span>
        </li>
        <li>
          <span class="icon icon__facebook">
            <i class="fab fa-facebook-f"></i>
          </span>
        </li>
        <li>
          <span class="icon icon__instagram">
            <i class="fab fa-instagram"></i>
          </span>
        </li>
        <li>
          <span class="icon icon__twitter">
            <i class="fab fa-twitter"></i>
           </span>
        </li>
      </ul>
    </div>
  </footer>