<header class="header">
    <a href="index.html">
        <span class="logo__page-title">
            Y-Tvieira
        </span>
    </a>
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__item--active">
                <a href="index.html">Welcome</a>
            </li>
            <li class="menu__item">
                <a href="about_me.html">About me</a>
            </li>
            <li class="menu__item">
                <a href="cv.html">CV</a>
            </li>
            <li class="menu__item">
                <a href="academics.html">Academics</a>
            </li>
            <li class="menu__item">
                <a href="experiences.html">Experiences</a>
            </li>
            <li class="menu__item">
                <a href="projects.html">Projects</a>
            </li>
            <li class="menu__item">
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </nav>
</header>