{% extends "skeleton.html" %}

{% set title = 'Curriculum Vitae' %}

<!-- Main content -->
{% block content %}
<main id="cv" class="cv-page">

    <!--To Place an image fixed on the screen-->
    <div class="content absolute-bottom image">
        <img src="" alt="" class="is-small">
    </div>
    <!--END fixed image on the screen-->

    <section class="margin-v--40">
        <div class="container has-shadow has-radius-bottom-right has-radius-bottom-left">
            <div class="content absolute-top has-background-grey-cv has-h-padding-sm">
                <span class="text is-7">
                    <strong>Call</strong> +351 912 647 657 or +33 658 534 395
                    &nbsp;&nbsp;&nbsp; <strong>My e-mail</strong> tania.vieira.carreira@gmail.com
                </span>
            </div>
            <div class="row has-border-top-2 is-yellow">
                <div class="column has-background-white has-v-padding-3xl has-radius-bottom-left">
                    <div class="card cv">
                        <div class="card-content has-background-white">
                            <span class="icon">
                                <i class="fas fa-award    "></i>
                            </span>
                            <p class="title is-4">AWARDS</p>
                            <p class="text is-6">2015</p>
                            <p class="subtitle is-5">Art of the week</p>
                            <p class="has-v-margin-xs">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, nisi!
                            </p>
                            <p class="text is-6">2014</p>
                            <p class="subtitle is-5">Best Designer</p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, nisi!
                            </p>
                        </div>
                    </div>
                    <div class="card cv">
                        <div class="card-content has-background-white">
                            <span class="icon">
                                <i class="fas fa-beer    "></i>
                            </span>
                            <p class="title is-4">EXPERTISE</p>
                            <ul>
                                <li>Logo Designing</li>
                                <li>Website Designing</li>
                                <li>Branding</li>
                                <li>Website Development</li>
                                <li>Journey Customer</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card cv">
                        <div class="card-content has-background-white">
                            <span class="icon">
                                <i class="fa fa-briefcase" aria-hidden="true"></i>
                            </span>
                            <p class="title is-4">REFERENCE</p>
                            <p class="text is-6">Mentor</p>
                            <p class="subtitle is-5">José Costa</p>
                            <p class="has-v-margin-xs">
                                Phone number: +351 91x xxx xxx;
                                <br>
                                Email: his@e-mail.com
                            </p>
                            <p class="text is-6">Mentor</p>
                            <p class="subtitle is-5">Claudia Costa</p>
                            <p class="has-v-margin-xs">
                                Phone number: +351 91x xxx xxx;
                                <br>
                                Email: his@e-mail.com
                            </p>
                        </div>
                    </div>
                    <div class="card cv">
                        <div class="card-content has-background-white">
                            <span class="icon">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </span>
                            <p class="title is-4">INTERESTS</p>
                            <figure class="icon">
                                <i class="fa fa-certificate" aria-hidden="true"></i>
                            </figure>
                            <figure class="icon">
                                <i class="fa fa-motorcycle" aria-hidden="true"></i>
                            </figure>
                            <figure class="icon">
                                <i class="fa fa-train" aria-hidden="true"></i>
                            </figure>
                            <figure class="icon">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                            </figure>
                            <figure class="icon">
                                <i class="fa fa-plane" aria-hidden="true"></i>
                            </figure>
                            <figure class="icon">
                                <i class="fa fa-camera-retro" aria-hidden="true"></i>
                            </figure>
                            <figure class="icon">
                                <i class="fas fa-cookie-bite    "></i>
                            </figure>
                            <figure class="icon">
                                <i class="fa fa-headphones" aria-hidden="true"></i>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column has-background-grey-cv has-v-padding-3xl has-radius-bottom-right">
                    <div class="card__cv is-grey">
                        <div class="card-content is-right">
                            <h1 class="title has-text-size-xl">
                                <span class="has-font-weight-light">Tania</span>
                                <br>
                                <span><b>Carreira</b></span>
                            </h1>
                            <span class="tag is-yellow">Digital transformation</span>
                            <div class="box margin-t--40 has-text-yellow">
                                <i class="fa fa-linkedin has-text-grey-dark" aria-hidden="true"></i>
                                <span class="text is-7 has-text-grey-dark">Taniavieirac.</span>
                                <i class="fa fa-instagram has-text-grey-dark" aria-hidden="true"></i>
                                <span class="text is-7 has-text-grey-dark">@instatania.y</span>
                                <i class="fa fa-dribbble has-text-grey-dark" aria-hidden="true"></i>
                                <span class="text is-7 has-text-grey-dark">Taniavieirac.</span>
                            </div>
                        </div>
                    </div>
                    <div class="card__cv is-grey">
                        <div class="card-content is-right">
                            <div class="skills" style="margin-top: 2rem;">
                                <span class="tag is-separator is-black">
                                    01
                                </span>
                                <h3 class="title is-4">SKILLS</h3>
                                <div class="skills">
                                    <div class="box">
                                        <span class="span text is-6 has-text-grey-dark">Prestashop</span>
                                        <figure class="icones">
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                        </figure>
                                    </div>
                                    <div class="box">
                                        <span class="span text is-6 has-text-grey-dark">Prestashop</span>
                                        <figure class="icones">
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                        </figure>
                                    </div>
                                    <div class="box">
                                        <span class="span text is-6 has-text-grey-dark">HTML</span>
                                        <figure class="icones">
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                        </figure>
                                    </div>
                                    <div class="box">
                                        <span class="span text is-6 has-text-grey-dark">CSS</span>
                                        <figure class="icones">
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                    </div>
                                    <div class="box">
                                        <span class="span text is-6 has-text-grey-dark">Prestashop</span>
                                        <figure class="icones">
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                        </figure>
                                    </div>
                                    <div class="box">
                                        <span class="span text is-6 has-text-grey-dark">HTML</span>
                                        <figure class="icones">
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                            <i class="fa fa-circle" aria-hidden="true" class="is-yellow"></i>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__cv is-grey">
                        <div class="card-content is-right">
                            <span class="tag is-separator is-black">
                                02
                            </span>
                            <h3 class="title is-4">EXPERIENCE</h3>
                            <div class="box">
                                <div class="inside-box">
                                    <p class="text is-6">2015-present</p>
                                    <p class="subtitle is-4">Soft Tech Ine</p>
                                    <lead class="is-5">Head Designer & Manager</lead>
                                    <p class="has-v-margin-xs">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, nisi!
                                    </p>
                                </div>
                            </div>
                            <div class="box">
                                <div class="inside-box">
                                    <p class="text is-6">2015-present</p>
                                    <p class="subtitle is-4">Soft Tech Ine</p>
                                    <lead class="is-5">Head Designer & Manager</lead>
                                    <p class="has-v-margin-xs">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, nisi!
                                    </p>
                                </div>
                            </div>
                            <div class="box">
                                <div class="inside-box">
                                    <p class="text is-6">2015-present</p>
                                    <p class="subtitle is-4">Soft Tech Ine</p>
                                    <lead class="is-5">Head Designer & Manager</lead>
                                    <p class="has-v-margin-xs">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, nisi!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card__cv is-grey">
                        <div class="card-content is-right">
                            <span class="tag is-separator is-black">
                                03
                            </span>
                            <h3 class="title is-4 is-position-relative">EDUCATION</h3>
                            <div class="box">
                                <div class="inside-box">
                                    <p class="text is-6">2015-present</p>
                                    <p class="subtitle is-4">Soft Tech Ine</p>
                                    <lead class="is-5">Head Designer & Manager</lead>
                                </div>
                            </div>
                            <div class="box">
                                <div class="inside-box">
                                    <p class="text is-6">2015-present</p>
                                    <p class="subtitle is-4">Soft Tech Ine</p>
                                    <lead class="is-5">Head Designer & Manager</lead>
                                </div>
                            </div>
                            <div class="box">
                                <div class="inside-box">
                                    <p class="text is-6">2015-present</p>
                                    <p class="subtitle is-4">Soft Tech Ine</p>
                                    <lead class="is-5">Head Designer & Manager</lead>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
</main>

<style>
    body {
        background-image: url('https://images.unsplash.com/photo-1615799998603-7c6270a45196?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=648&q=80');
        background-size: cover;
        background-position: center center;
    }
</style>

{% endblock %}

{% block js %}
{% endblock %}