{% extends "layout.html" %}

{% set title = 'Welcome' %}
{% set page = 'home' %}

<!-- Main content -->
{% block content %}
<main id="welcome">
    <section class="section hero">
        <div class="container is-medium">
            <div class="content margin-t--25vh">
                <div class="row">
                    <div class="column is-12">
                        <h1 class="title is-5 has-text-white">Tania Vieira C.</h1>
                        <h2 class="subtitle is-1 has-text-size-xl has-text-yellow margin-t--10">
                            <span class="has-hover-bg-white">E-Commerce Management</span>
                            <br>
                            <span class="has-hover-bg-white">Marketing Digital</span>
                            <br>
                            <span class="has-hover-bg-white">Front-End Developpment</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row is-multiline">
                <p class="lead is-grey-lighter has-h-padding-sm">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, iusto.
                    <br> <strong>Who, What, Why, Where, When</strong>... Find out more
                </p>
                <a href="#" class="button is-find-out is-pulled-left padding-left--100">About Me</a>
            </div>
        </div>
    </section>

    <!--========== PAGE LAYOUT ==========-->
    <!-- Service -->
    <section class=" section ">
        <div class="section-2" data-auto-height="true">
            <div class="content-lg container">
                <div class="row row-space-1 margin-b-2">
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-chemistry"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Art Of Coding</h3>
                                    <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat
                                        dolor</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-screen-tablet"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Responsive Design</h3>
                                    <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat
                                        dolor</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-badge"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Feature Reach</h3>
                                    <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat
                                        dolor</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// end row -->

                <div class="row row-space-1">
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-notebook"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Useful Documentation</h3>
                                    <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat
                                        dolor</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".5s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-speedometer"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Fast Delivery</h3>
                                    <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat
                                        dolor</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".6s">
                            <div class="service" data-height="height">
                                <div class="service-element">
                                    <i class="service-icon icon-badge"></i>
                                </div>
                                <div class="service-info">
                                    <h3>Free Plugins</h3>
                                    <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat
                                        dolor</p>
                                </div>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        </div>
    </section>





    <!--<section class="section about-me">
        <div class="container">
            <div class="row">
                <div class="column">
                    <h3 class="title is-2">A designer with passion for this and that</h3>
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam obcaecati labore facere a
                        inventore eos voluptate doloribus ducimus. Beatae, natus?
                    </p>
                    <a href="" class="button is-primary">Learn more</a>
                </div>
                <div class="column">
                    <figure class="image max_width--25r is-pulled-right">
                        <img src="images/undraw_site_content.svg" alt="">
                    </figure>
                </div>
            </div>
        </div>

    </section>

    <section class="section creating-experiences">
        <div class="container">
            <div class="row">
                <div class="column">
                    <figure class="image max_width--25r is-pulled-left">
                        <img src="images/undraw_creation.svg" alt="">
                    </figure>
                </div>
                <div class="column">
                    <h3 class="title is-2">A designer with passion for this and that</h3>
                    <p class="lead">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam obcaecati labore facere a
                        inventore eos voluptate doloribus ducimus. Beatae, natus?
                    </p>
                    <a href="" class="button is-primary">Learn more</a>
                </div>
            </div>
        </div>

    </section>
    <section class="section my-skills">
        <div class="container">
            <h3 class="title is-3 has-text-center margin-b--2">
                My skills
            </h3>
            <div class="row">
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <span class="icon is-red is-hoverable has-text-size-2 has-margin-b">
                                <i class="fab fa-html5"></i>
                            </span>
                            <h4 class="title is-4">Section 1</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Natus quasi recusandae cupiditate commodi doloribus voluptatem sit aut dolore?
                                Praesentium,
                                doloremque?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <span class="icon is-green is-hoverable has-text-size-2 has-margin-b">
                                <i class="fab fa-css3-alt"></i>
                            </span>
                            <h4 class="title is-4">Section 1</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Natus quasi recusandae cupiditate commodi doloribus voluptatem sit aut dolore?
                                Praesentium,
                                doloremque?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-content">
                            <span class="icon is-blue is-hoverable has-text-size-2 has-margin-b">
                                <i class="fab fa-js-square"></i>
                            </span>
                            <h4 class="title is-4">Section 1</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Natus quasi recusandae cupiditate commodi doloribus voluptatem sit aut dolore?
                                Praesentium,
                                doloremque?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
</main>

<style>

</style>

{% endblock %}

{% block js %}

{% endblock %}