{% extends "layout.html" %}

{% set title = 'Welcome' %}
{% set page = 'home' %}

<!-- Main content -->
{% block content %}
<main id="welcome">
    <section class="section hero">
        <div class="container is-medium">
            <div class="content margin-t--25vh">
                <div class="row">
                    <div class="column is-12">
                        <h1 class="title is-5 has-text-white">Tania Vieira C.</h1>
                        <h2 class="subtitle is-1 has-text-size-xl has-text-yellow margin-t--10">
                            <span class="has-hover-bg-white">E-Commerce Management</span>
                            <br>
                            <span class="has-hover-bg-white">Marketing Digital</span>
                            <br>
                            <span class="has-hover-bg-white">Front-End Developpment</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row is-multiline">
                <p class="lead is-grey-lighter has-h-padding-sm">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, iusto.
                    <br> <strong>Who, What, Why, Where, When</strong>... Find out more
                </p>
                <a href="#" class="button is-find-out is-pulled-left padding-left--100">About Me</a>
            </div>
        </div>
        </div>
    </section>

    <!--========== PAGE LAYOUT ==========-->

    <!--<div class="header-bg">&nbsp;</div>-->

    <!--========== PAGE LAYOUT ==========-->
    <!-- Service -->

    <section class="section">
        <div class="section-2" data-auto-height="true">
            <div class="header-bg">&nbsp;</div>
            <div class="zone-1 container is-large ">
                <div class="content margin-t--10vh">
                    <div class="row">
                        <div class="column is-4">
                            <div class="card is-large">
                                <div class="card-content has-min-height--25vh">
                                    <span class="iconify" data-icon="logos-prestashop" data-inline="false"
                                        data-width="48px" data-height="48px"></span>
                                    <h3>PRESTASHOP set-up</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, id!</p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card is-large">
                                <div class="card-content has-min-height--25vh">
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                    <h3>PRODUCT CONTENT.</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, id!</p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card is-large">
                                <div class="card-content has-min-height--25vh">
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                    <h3>E-COMMERCE GROWTH.
                                    </h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, id!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="column is-4">
                            <div class="card is-large">
                                <div class="card-content has-min-height--25vh">
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                    <h3>SEO/SEA/SSM strategy</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque,
                                        perspiciatis.</p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card is-large">
                                <div class="card-content has-min-height--25vh">
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                    <h3>MARKETING AUTOMATION</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, ex!</p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card is-large">
                                <div class="card-content has-min-height--25vh">
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                    <h3>WEB ANALYTICS</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, aliquam?
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="column is-4">
                            <div class="card is-large">
                                <div class="card-content has-min-height--25vh">
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                    <h3>UX & UI DESIGN</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, id!</p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card is-large">
                                <div class="card-content has-min-height--25vh">
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                    <h3>HTML/CSS/JS</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, id!</p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="card is-large">
                                <div class="card-content has-min-height--25vh">
                                    <i class="fa fa-female" aria-hidden="true"></i>
                                    <h3>RESPONSIVE DESIGN</h3>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, id!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </di>
            </div>
        </div>
    </section>





</main>

<style>

</style>

{% endblock %}

{% block js %}

{% endblock %}