{% extends "layout.html" %}

{% set title = 'Interests' %}

<!-- Main content -->
{% block content %}

<section id="section-1" class="tania carousel slide" data-ride="carousel">
    <div class="container slide">
            <!-- Indicators -->
            <ul class="carousel__indicators">
                <li data-target="heroCarousel" data-slide-to="0" class="active"></li>
                <li data-target="heroCarousel" data-slide-to="1"></li>
                <li data-target="heroCarousel" data-slide-to="2"></li>
            </ul>
            <!-- Wrapper for sliders -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="carousel-centered">
                            <div class="margin-b-40">
                                <h1 class="title is-5">Tania Carreira</h1>
                                <h2 class="subtitle is-1 is-xl">
                                    Ecommerce Manager
                                    <br>
                                    Digital Marketing
                                    <br>
                                    Front-End Development
                                </h2>
                                <p class="text is-grey-light">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet praesentium
                                    suscipit porro inventore ut recusandae quidem alias. Numquam, eius perspiciatis!
                                </p>
                                <a href="#" class="button is-basic-info">EXPLORE</a>
                            </div>
                        <div>
                    </div>
                </div>
            </div>
        </div>
    </div>             
</section>

{% endblock %}

{% block js %}

{% endblock %}