{% extends "layout.html" %}

{% set title = 'Proects' %}

{% block content %}

<main>
    <!-- Main idea -->
    <section class="tania">
        <div class="container">
            <div class="welcome ">
                <p class="subtitle is-5 is-yellow">Tania Vieira C.</p>
                <h1 class="title is-1 is-uppercase">
                    MARKETING DIGITAL
                    <br>
                    E-COMMERCE MANAGEMENT
                    <br>
                    FRONT-END DEVELOPMENT
                </h1>
                <div class="tag-test text">tag-test</div>

                <div class="row is-multine has-v-padding-sm">
                    <p class="text is-3">
                        Do you know
                        <a href="" class="button is-primary">Find out more</a>
                        <i class="fa fa-code" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>


{% endblock content %}