.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
    &.is-small{
      max-width: 600px;
    }
    &.is-medium{
        max-width: 900px;
      }
    &.is-large{
      max-width: 1200px;
    }
    &.is-fluid{
      max-width: 100%;
    }
    .slider {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top:250px;
    margin-bottom:250px;
    }
    .content{
      margin-bottom:$block-spacing-sm;
    }
} 
