.lead{
    font-size: $size-5;
    margin-bottom:10px;
}

.text{
    color:$text;
    margin-bottom: 10px;
    &.is-primary{
        color: $primary;
    }
    &.is-grey{
        color: $grey;
    }
    &.is-dark{
        color: $dark;
    }
    &.is-black{
        color:$black;
    }
    &.is-success{
        color: $success;
    }
    &.is-uppercase{
        text-transmform: uppercase;
    }
    &.is-strong{
        font-weight: 800;
    }
}