$body-bg: $white;

body {
  margin: 0;
  background: $body-bg;
  font-family: $family-sans;
  font-size:15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
    .absolute-bottom{
    position:fixed;
    bottom:-1rem;
    left:auto;
    z-index:999;
    }
}

.app{
  flex-grow: 1;
}

*, ::after, ::before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

main{
  clear:both;
}