@font-face {
    font-family: 'Karla';
    src: url('fonts/karla/Karla-Light.eot');
    src: url('fonts/karla/Karla-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/karla/Karla-Light.woff2') format('woff2'),
        url('fonts/karla/Karla-Light.woff') format('woff'),
        url('fonts/karla/Karla-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
@font-face {
    font-family: 'Karla';
    src: url('fonts/karla/Karla-Regular.eot');
    src: url('fonts/karla/Karla-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/karla/Karla-Regular.woff2') format('woff2'),
        url('fonts/karla/Karla-Regular.woff') format('woff'),
        url('fonts/karla/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
@font-face {
    font-family: 'Karla';
    src: url('fonts/karla/Karla-Bold.eot');
    src: url('fonts/karla/Karla-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/karla/Karla-Bold.woff2') format('woff2'),
        url('fonts/karla/Karla-Bold.woff') format('woff'),
        url('fonts/karla/Karla-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
@font-face {
    font-family: 'Spectral';
    src: url('fonts/spectral/Spectral-LightItalic.eot');
    src: url('fonts/spectral/Spectral-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/spectral/Spectral-LightItalic.woff2') format('woff2'),
        url('fonts/spectral/Spectral-LightItalic.woff') format('woff'),
        url('fonts/spectral/Spectral-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
@font-face {
    font-family: 'Spectral';
    src: url('fonts/spectral/Spectral-Light.eot');
    src: url('fonts/spectral/Spectral-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/spectral/Spectral-Light.woff2') format('woff2'),
        url('fonts/spectral/Spectral-Light.woff') format('woff'),
        url('fonts/spectral/Spectral-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
@font-face {
    font-family: 'Spectral';
    src: url('fonts/spectral/Spectral-Medium.eot');
    src: url('fonts/spectral/Spectral-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/spectral/Spectral-Medium.woff2') format('woff2'),
        url('fonts/spectral/Spectral-Medium.woff') format('woff'),
        url('fonts/spectral/Spectral-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  
  @font-face {
    font-family: 'inconsolata';
    src: url('fonts/inconsolata/Inconsolata-Black.eot')format('truetype');
    src: url('fonts/inconsolata/Inconsolata-Black.eot?#iefix') format('embedded-opentype'),
      url('fonts/inconsolata/Inconsolata-Black.woff2') format('woff2'),
      url('fonts/inconsolata/Inconsolata-Black.woff') format('woff'),
      url('fonts/inconsolata/Inconsolata-Black.ttf') format('truetype');
    font-weight: 900;
    font-style:bolder;
    font-display: swap;
  }