
/*
  Helpers
*/


.is-pulled-right{
  float:right!important;
}

.is-pulled-left{
  float:left!important;
}

.max_width--25r{
  width:25rem!important;
}

.width--75{
  width:75%!important;
}
.margin-header{
  margin-top:81px;
}

.margin--none{
  margin:0!important;
}
.margin-b--2{
  margin-bottom:3rem!important;
}

.margin-t--40{
  margin-top:40px!important;
}

.margin-t--10{
  margin-top:10px!important;
}

.padding-left--100{
  padding-left:100px;
}

.margin-t--10vh{
  margin-top: 10vh  !important;
}

.margin-t--25vh{
  margin-top: 25vh  !important;
}

.margin-t--30vh{
  margin-top: 30vh  !important;
}

.margin-v--40{
  margin-top:40px;
  margin-bottom:40px;
}

.has-text-center{
  text-align: center;
}
.has-text-uppercase{
  text-transform: uppercase!important;
}
.has-text-grey{
  color:$grey!important;
}
.has-text-green{
  color:$green!important;
}

.has-text-yellow{
  color:$fm-yellow!important;
}
.has-text-yellow-d{
  color:$fm-yellow-d!important;
}
.has-text-yellow-l{
  color:$fm-yellow-l!important;
}

.has-text-white{
  color:$white!important;
}

.has-text-grey-dark{
  color:$grey-dark!important;
}

.has-font-weight-light{
  font-weight: 300;
}

.has-text-size-xl{
  @media screen and (min-width: 768px) {
    font-size:$size-xl!important;
    margin-bottom:$block-spacing-sm!important;
    }
  @media screen and (max-width: 768px) {
    font-size:$size-3!important;
    margin-bottom:$block-spacing!important;
  }
  @media screen and (max-width: 412px) {
    font-size:1.70rem!important;
    margin-bottom:$block-spacing!important;
    }
}

.has-text-size-1{
  font-size:$size-1!important;
}
.has-text-size-2{
  font-size:$size-2!important;
}
.has-text-size-3{
  font-size:$size-3!important;
}
.has-text-size-4{
  font-size:$size-4!important;
}

.has-text-size-5{
  font-size:$size-5!important;
}

.has-padding-xs{
  padding: $block-spacing-xs!important;
}

.has-margin-b{
  margin-bottom: $block-spacing!important;
}

.has-h-padding-xs{
  padding-left:$block-spacing-xs!important;
  padding-right:$block-spacing-xs!important;
}

.has-h-padding-sm{
  padding-left:$block-spacing-sm!important;
  padding-right:$block-spacing-sm!important;
}

.has-v-padding-sm{
  padding-top: $block-spacing-sm!important;
  padding-bottom: $block-spacing-sm!important;
}

.has-h-m-xs{
  margin: 0 $block-spacing-xs!important;
}

.has-v-padding-sm{
  padding-top: $block-spacing-sm!important;
  padding-bottom: $block-spacing-sm!important;
}

.has-v-padding-md{
  padding-top: $block-spacing!important;
  padding-bottom: $block-spacing!important;
}

.has-v-padding-lg{
  padding-top: $block-spacing-lg!important;
  padding-bottom: $block-spacing-lg!important;
}


.has-v-padding-xl{
  padding-top: $block-spacing-xl!important;
  padding-bottom: $block-spacing-xl!important;
}

.has-v-padding-2xl{
  padding-top: $block-spacing-2xl!important;
  padding-bottom: $block-spacing-2xl!important;
}

.has-v-padding-3xl{
  padding-top: $block-spacing-3xl!important;
  padding-bottom: $block-spacing-3xl!important;
}

.background--red{
  background:$danger!important;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p{
    color:$white;
  }
  p{
    opacity:.6;
  }
}

.is-pulled-right{
  float:right!important;
}

.has-no-background {
  background-color: $white;
}

.has-background-primary {
  background-color: $primary!important;
}

.has-background-white {
  background-color: $white!important;
}

.has-background-grey-cv {
  background-color: $grey-cv;
}


.is-flex{
display:flex;
}

.is-inline-block{
  display: inline-block;
}

.footer-offset{
  margin-bottom: -8rem;
}

.is-v-align-middle{
  align-items: baseline;
  justify-content: space-between;
}

.has-shadow{
  box-shadow: 4px 4px 4px rgba($color: #000000, $alpha: 0.2);
}

.has-width-auto{
  width: auto;
}


.has-p-top{
  padding-top:250px;
}

.has-radius-top-left{
  border-radius:1rem 0 0 0;
}

.has-radius-top-right {
  border-radius: 0 1rem 0 0;
}

.has-radius-bottom-left{
  border-radius: 0 0 0 1rem;
}

.has-radius-bottom-right{
  border-radius: 0 0 1rem 0;
}

.has-border-top-2{
  border-top: 0.5rem solid transparent ;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  &.is-yellow{
    border-color: $fm-yellow;
  }
}

.is-position-relative{
  position:relative;
}

.has-font-subtitle{
  font-family: $family-sans-serif;
}